swagger: '2.0'
info:
  title: Poker API
  description: Design for Poker API
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/poker-api
produces:
  - application/json
paths:
  /games:
    post:
      summary: Create a poker game
      tags:
        - games
      consumes:
        - application/json
      operationId: postGame
      parameters:
        - $ref: '#/parameters/authorization'
        - in: body
          name: requestBody
          schema:
            $ref: '#/definitions/GamePostBody'
      responses:
        '201':
          description: Successfully create a game
          schema:
            $ref: '#/definitions/GameResult'
          headers:
            Location:
              type: string
              format: url
              description: Location of the newly created game
        '400':
          description: Invalid game object
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    get:
      summary: Info of a list of game
      tags:
        - games
      operationId: getGames
      parameters: 
        - $ref: '#/parameters/authorization'
        - in: query
          name: round
          type: string
          description: The current round of the game
        - in: query
          name: playerId
          type: string
          description: The playerId of members that are playing this game
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GameResults'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /games/{gameId}:
    get:
      summary: Info for a specific game
      tags:
        - games
      description: Get a game by its gameid
      operationId: getGameByGameId
      parameters: 
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/gameId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GameResult'
        '404':
          description: Game not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    patch:
      tags:
        - games
      summary: Update a game specified by its id
      operationId: patchGameByGameId
      consumes:
        - application/json
      parameters: 
        - $ref: '#/parameters/gameId'
        - name: updateBody
          in: body
          description: Object that will overwrite the game specified by its id
          required: true
          schema:
            $ref: '#/definitions/GamePatchBody'
      responses:
        '200':
          description: Successfully update a game
          schema:
            $ref: '#/definitions/GameResult'
        '400':
          description: Invalid game object
          schema:
            $ref: '#/definitions/Errors'
        '404':
          description: Game not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    delete:
      tags:
        - games
      summary: "Remove a game specified by its id, also the participation of member in the game would be removed."
      operationId: deleteGameByGameId
      parameters:
        - $ref: '#/parameters/gameId'
      responses:
        '204':
          description: game successfully removed
        '404':
          description: No game with this id
          schema:
            $ref: "#/definitions/Error"
        '500':
          description: Internal server error
          schema:
            $ref: "#/definitions/Error"
  /games/{gameId}/players:
    get:
      summary: A list of player in the game with their specific in-game information
      tags:
        - players
      operationId: getPlayersByGameId
      parameters:
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/gameId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerInGameResults'
        '404':
          description: Game not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /games/{gameId}/players/{playerId}:
    get:
      summary: Info of the player in terms of the specific game
      tags:
        - players
      operationId: getPlayerByGameIdAndPlayerId
      parameters: 
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/playerId'
        - $ref: '#/parameters/gameId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PlayerInGameResult'
        '404':
          description: Player not found / Game not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    patch:
      tags:
        - players
      summary: Update a player in terms of the specific game
      operationId: updatePlayerByGameIdAndPlayerId
      consumes: 
        - application/json
      parameters: 
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/playerId'
        - $ref: '#/parameters/gameId'
        - name: updateBody
          in: body
          description: Object that will overwrite the player of interest
          required: true
          schema:
            $ref: '#/definitions/PlayerInGamePatchBody'
      responses:
        '200':
          description: Successfully update a player from game
          schema:
            $ref: '#/definitions/Errors'
        '400':
          description: Invalid player in game object
          schema:
            $ref: '#/definitions/Errors'
        '404':
          description: Player not found / Game not found.
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /members:
    get:
      summary: Info of the list of member
      tags:
        - members
      operationId: getMembers
      parameters: 
        - $ref: '#/parameters/authorization'
        - in: query
          name: memberNickname
          type: string
          description: The name that matches the name of a list of members.
        - in: query
          name: memberEmail
          type: string
          description: The email address that matches the email of a list of members.
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MemberResults'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    post:
      summary: Create a member profile
      tags:
        - members
      operationId: postMember
      parameters: 
        - $ref: '#/parameters/authorization'
        - in: body
          name: requestBody
          schema:
            $ref: '#/definitions/MemberPostBody'
      responses:
        '201':
          description: Successfully create a member profile
          schema:
            $ref: '#/definitions/MemberResult'
          headers:
            Location:
              type: string
              format: url
              description: Location of the newly created member
        '400':
          description: Invalid member object
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
  /members/{playerId}:
    delete:
      summary: Delete a member specified by its playerId
      tags:
        - members
      operationId: deleteMemberByPlayerId
      consumes: 
        - application/json
      parameters: 
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/playerId'
      responses:
        '204':
          description: Member successfully removed
        '404':
          description: No member with this id
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    get:
      summary: Info for a specific member
      tags:
        - members
      description: Get a member by its playerId
      operationId: getMemberByPlayerId
      parameters: 
        - $ref: '#/parameters/authorization'
        - $ref: '#/parameters/playerId'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MemberResult'
        '404':
          description: Player not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
    patch:
      summary: Update a member specified by its playerId
      tags:
        - members
      operationId: patchMemberByPlayerId
      consumes: 
        - application/json
      parameters: 
        - $ref: '#/parameters/playerId'
        - $ref: '#/parameters/authorization'
        - name: updateBody
          in: body
          description: Object that will overwrite the member specified by its id
          required: true
          schema:
            $ref: '#/definitions/MemberPatchBody'
      responses:
        '200':
          description: Successfully update a member
          schema:
            $ref: '#/definitions/MemberResult'
        '400':
          description: Invalid member object
          schema:
            $ref: '#/definitions/Errors'
        '404':
          description: Member not found
          schema:
            $ref: '#/definitions/Errors'
        '500':
          description: Internal server error
          schema:
            $ref: '#/definitions/Errors'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where token is your OAuth2 access token'
  gameId:
    name: gameId
    in: path
    description: unique string
    required: true
    type: string
  playerId:
    name: playerId
    in: path
    description: unique string
    required: true
    type: string
definitions:
  BetPool:
    type: integer
    minimum: 0
    description: Total bet from players.
  Card:
    properties:
      cardNumber:
        type: string
        enum: 
          - 'A'
          - '2'
          - '3'
          - '4'
          - '5'
          - '6'
          - '7'
          - '8'
          - '9'
          - '10'
          - 'J'
          - 'Q'
          - 'K'
      cardSuit:
        type: string
        enum:
          - Diamond
          - Club
          - Spade
          - Heart
  Cards:
    type: array
    items:
      $ref: '#/definitions/Card'
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/Error-reference#1234
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'
  GameId:
    type: string
    description: A unique ID of a poker game
  GameIds:
    type: array
    items:
      $ref: '#/definitions/GameId'
  GamePatchBody:
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/GameId'
          type:
            $ref: '#/definitions/GameType'
          attributes:
            type: object
            properties:
              round:
                $ref: '#/definitions/Round'
              playerIds:
                $ref: '#/definitions/PlayerIds'
              minimumBet:
                $ref: '#/definitions/MinimumBet'
              maximumBet:
                $ref: '#/definitions/MaximumBet'
              betPool:
                $ref: '#/definitions/BetPool'
              tableCards:
                $ref: '#/definitions/Cards'
            additionalProperties: false
        required: 
          - type
          - id
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  GamePostBody:
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/GameType'
          attributes:
            type: object
            properties:
              playerIds:
                $ref: '#/definitions/PlayerIds'
              minimumBet:
                $ref: '#/definitions/MinimumBet'
              maximumBet:
                $ref: '#/definitions/MaximumBet'
            required:
              - playerIds
              - minimumBet
              - maximumBet
            additionalProperties: false
        required: 
          - type
          - attributes
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  GameResource:
    properties:
      id:
        $ref: '#/definitions/GameId'
      type:
        $ref: '#/definitions/GameType'
      attributes:
        type: object
        properties:
          round:
            $ref: '#/definitions/Round'
          playerIds:
            $ref: '#/definitions/PlayerIds'
          minimumBet:
            $ref: '#/definitions/MinimumBet'
          maximumBet:
            $ref: '#/definitions/MaximumBet'
          betPool:
            $ref: '#/definitions/BetPool'
          tableCards:
            $ref: '#/definitions/Cards'
      links:
        $ref: '#/definitions/SelfLink'
  GameResult:
    properties:
      data:
        $ref: '#/definitions/GameResource'
  GameResults:
    properties:
      data:
        type: array
        items:
          $ref: "#/definitions/GameResource"
  GameType:
    type: string
    enum:
      - game
  MaximumBet:
    type: integer
    minimum: 1
    description: The maximum bet every player can place each round.
    example: 2000
  MinimumBet:
    type: integer
    minimum: 1
    description: The minimum bet every player have to place at least each round.
    example: 1000
  PlayerBet:
    type: integer
    minimum: 0
    description: The bet from a specific player.
  MemberEmail:
    type: string
    example: abc@efg.com
    format: email
  MemberExpOverLevel:
    type: integer
    minimum: 0
    description: Player's experience point above current level.
    example: 1234
  PlayerId:
    type: string
    example: '101'
  PlayerIds:
    type: array
    items:
      $ref: '#/definitions/PlayerId'
  PlayerInGamePatchBody:
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/PlayerId'
          type:
            $ref: '#/definitions/PlayerType'
          attributes:
            type: object
            properties:
              playerBet:
                $ref: '#/definitions/PlayerBet'
              playerStatus:
                $ref: '#/definitions/PlayerStatus'
              playerCards:
                $ref: '#/definitions/Cards'
        required:
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  PlayerInGameResource:
    properties:
      id:
        $ref: '#/definitions/PlayerId'
      type:
        $ref: '#/definitions/PlayerType'
      attributes:
        type: object
        properties:
          memberNickname:
            $ref: '#/definitions/MemberNickname'
          memberLevel:
            $ref: '#/definitions/MemberLevel'
          memberExpOverLevel:
            $ref: '#/definitions/MemberExpOverLevel'
          playerBet:
            $ref: '#/definitions/PlayerBet'
          playerStatus:
            $ref: '#/definitions/PlayerStatus'
          playerCards:
            $ref: '#/definitions/Cards'
  PlayerInGameResult:
    properties:
      data:
        $ref: '#/definitions/PlayerInGameResource'
  PlayerInGameResults:
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/PlayerInGameResource'
  MemberLevel:
    type: integer
    minimum: 1
    description: Player's level in the system.
    example: 20
  MemberNickname:
    type: string
    example: Jack
  MemberPassword:
    type: string
    example:  hunter2
    format: password
  MemberPatchBody:
    properties:
      data:
        type: object
        properties:
          id:
            $ref: '#/definitions/PlayerId'
          type:
            $ref: '#/definitions/PlayerType'
          attributes:
            type: object
            properties:
              memberNickname:
                $ref: '#/definitions/MemberNickname'
              memberEmail:
                $ref: '#/definitions/MemberEmail'
              memberPassword:
                $ref: '#/definitions/MemberPassword'
              memberLevel:
                $ref: '#/definitions/MemberLevel'
              memberExpOverLevel:
                $ref: '#/definitions/MemberExpOverLevel'
              gameIds:
                $ref: '#/definitions/GameIds'
            additionalProperties: false
        required: 
          - id
          - type
        additionalProperties: false
    required:
      - data
    additionalProperties: false
  MemberPostBody:
    properties:
      data:
        type: object
        properties:
          type:
            $ref: '#/definitions/PlayerType'
          attributes:
            type: object
            properties:
              memberNickname:
                $ref: '#/definitions/MemberNickname'
              memberEmail:
                $ref: '#/definitions/MemberEmail'
              memberPassword:
                $ref: '#/definitions/MemberPassword'
            required:
              - memberNickname
              - memberEmail
              - memberPassword
            additionalProperties: false
        required: 
          - type
          - attributes
        additionalProperties: false
    required: 
      - data
    additionalProperties: false 
  MemberResource:
    properties:
      id:
        $ref: '#/definitions/PlayerId'
      type:
        $ref: '#/definitions/MemberType'
      attributes:
        type: object
        properties:
          memberNickname:
            $ref: '#/definitions/MemberNickname'
          memberEmail:
            $ref: '#/definitions/MemberEmail'
          memberLevel:
            $ref: '#/definitions/MemberLevel'
          memberExpOverLevel:
            $ref: '#/definitions/MemberExpOverLevel'
          gameIds:
            $ref: '#/definitions/GameIds'
      links:
        $ref: '#/definitions/SelfLink'
  MemberResult:
    properties:
      data:
        $ref: '#/definitions/MemberResource'
  MemberResults:
    properties:
      data:
        type: array
        items:
          $ref: '#/definitions/MemberResource'
  MemberType:
    type: string
    enum:
      - member
  PlayerStatus:
    type: string
    enum:
      - folded
      - called
      - raised
      - checked
  PlayerType:
    type: string
    enum:
      - player
  Round:
    type: string
    enum:
      - blind
      - flop
      - turn
      - river
      - showdown
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
